extends ../layout
block content
  h1 Login
  if errors
    ul.error
      each e in errors
        li= e.msg
  form(method='post', action='/auth/login')
    label Email
    input(type='email', name='email', required)
    label Password
    input(type='password', name='password', required)
    button.btn(type='submit') Login
